
.body{
    position: relative;
    background-color: #000;
}
.footer {
        border-top: 2px solid #ddd;
        padding-top: 34px;
        padding-bottom: 30px;
        position: relative;
        z-index: 0;
        margin-top: 30px;
        margin-bottom: 30px;
}
.footer-main {
    display: flex;
    justify-content:space-between;
    
    color: #fff;
    background-color: #000;
    line-height: 24px;
}
.footer-main li {
    list-style: none;
}
.footer-three {
    color: #fff;
}

.footer-three a, p{
    margin-left: 40px;
}
.footer-three a{
    text-decoration: none;
}

.copy-right {
    padding-top: 20px;
    text-align: center;
}


    
main .nav-menu  {
    text-align: center;
    border: outset;
    color: red;
}
main .nav-menu  a{
    color: rgb(253, 253, 253);
    text-decoration: none;
    font-size: 15px;
}


main .nav-menu a :hover {
    background-color: yellow;
}
main {
    background-color: black;
    font-family:'Times New Roman', Times, serif;
}
.main-body {
    border-color: brown;
}
main .row1 {
    text-align: center;
    background-color: rgb(68, 73, 78);
}
main .row1-ele img{
    padding: 0px 0px 0px 0px;
}
main .row1-ele p{
    color: white;
    position: relative;
    top: auto;
    left: auto;
}
.row1 button {
    border-color: brown;
    border-style: double;
}

main .row3 {
    text-align: center;
    background-color: rgb(68, 73, 78);
}
main .row3-ele p{
    color: white;
    position: relative;
    top: auto;
    left: auto;
    margin: 0;
}

main .row3-ele button {
    background-color: rgb(207, 57, 57);
    color: #fff;
}
main .row3-ele a button:hover{
    background-color: rgb(221, 123, 123);
}
main .row3-ele a{
    text-decoration: none;
    color: white;
}
.product-item .yaki-niku{
    padding: 0px 0px 0px 0px;
    width: 150px;
    height: 150px;
}



.img-product-fly{
    position: absolute;
    z-index: 9999999999;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    border: 2px solid red;
    transition: all 0.5s ease;
    animation: MyAnimation 1.5s;
    opacity: 80%;
}
@keyframes MyAnimation {
    0%   {transform: scale(0.4)}
    25%  {transform: scale(1)}
    50%  {transform: scale(1)}
    100% {transform: scale(0.4)}
  }
.cart .x-button {
    float: right;
    cursor: pointer;
}
.drag-parent span {
    cursor: pointer;
    color: white;
    
}
.drag-parent span:hover{
    color: red;
}
.cart .x-button :hover{
    color: yellow;
}
.cart{
    color: white;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    position: fixed;
    height: 200px;
    width: 350px;
    right: 80px;
    top: 50px;
    background-color: rgb(124, 123, 122);
    padding: 12px 20px;
    overflow-y: scroll;
    border: 2rem;
    border-radius: 20px;
}
.cart h2 {
    border-bottom: 2px solid #ddd;
}
.cart table{
    width: 100%;

}
.cart table thead tr th:first-child{
    text-align: left;
    
}
.cart table tr td {
    border-bottom: 1px solid #ddd;
    padding: 12px 0;
}
.cart table thead tr th:last-child{
    text-align: right;  
}

.cart table tbody tr td:last-child {
    text-align: right;
}



/*scroll-snap-list*/
.scroll-list {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    height: 300px;
    width: auto;
    -webkit-overflow-scrolling: auto;
    background-color: rgb(68, 73, 78);
    align-items: center;
}

.scroll-list img {
    width: 300px;
    height: 250px;
    padding: 20px;
    border-radius: 10%;
}

.scroll-item {
    scroll-snap-align: center ;
    scroll-snap-stop: always;

}

@media (min-width: 300px) {
    .cart{
        right: 0px;
        top:80px;
    }
  }
@media (min-width: 450px) {
    .cart{
        right: 0px;
        top:80px;
    }
  }

  @media (min-width: 576px) {
    .cart{
        right: 30px;
        top:60px;
    }
  }
  
  @media (min-width: 768px) {
    .cart{
        right: 30px;
        top:60px;
    }
  }
  
  @media (min-width: 992px) {
    .cart{
        right: 100px;
        top:40px;
    }
  }
  
  @media (min-width: 1480px) {
    .cart{
        right: 150px;
        top:50px;
    }
  }




